version: 2.1

executors:
  test-executor:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
  maven-executor:
    docker:
      - image: circleci/openjdk:8-jdk

commands:
  unit-and-integration-test:
    parameters:
      browser:
        type: string
        default: "chrome"
    steps:
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - run: mvn test -Dmaven.javadoc.skip=true -Dgpg.skip -Dselenide.browser=<< parameters.browser >> -Dselenide.reports=~/repo/test-results
      - run:
          name: Save test results
          command: |
            mkdir -p ~/repo/test-results/junit/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/repo/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/repo/test-results
      - store_artifacts:
          path: ~/repo/test-results/junit

jobs:

  unit-test:
    executor : maven-executor
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - persist_to_workspace:
          root: ~/
          paths:
            - repo

  chrome-test:
    executor: test-executor

    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - attach_workspace:
          at: ~/
      - unit-and-integration-test:
          browser: "chrome"

  firefox-test:
    executor: test-executor

    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - attach_workspace:
          at: ~/
      - unit-and-integration-test:
          browser: "firefox"

  build-and-deploy:
    executor: maven-executor

    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run: echo $SECRING_GPG_ASC_BASE64 | base64 --decode | gpg --batch --no-tty --import --yes
      - run: echo $GPG_OWNERTRUST | base64 --decode | gpg --import-ownertrust

      - run: mvn -s .circleci/maven-release-settings.xml clean deploy -DskipTests -DskipITs

      - run: mvn -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec >> ~/repo/version

      - persist_to_workspace:
          root: ~/repo
          paths:
            - target
            - version

  publish-github-release:
    executor: maven-executor

    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: "Publish Release on GitHub"
          command: |
            VERSION=$(cat ~/repo/version)
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ~/repo/target/com-antd-java-${VERSION}.jar

workflows:
  build-test-release:
    jobs:
      - unit-test
      - chrome-test:
          requires:
            - unit-test
      - firefox-test:
          requires:
            - unit-test
      - approve-release:
          type: approval
          filters:
            branches:
              only: master
          requires:
            - chrome-test
            - firefox-test
      - build-and-deploy:
          filters:
            branches:
              only: master
          requires:
            - approve-release
      - publish-github-release:
          filters:
            branches:
              only: master
          requires:
            - build-and-deploy


