version: 2.1

executors:
  test-executor:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
  maven-executor:
    docker:
      - image: circleci/openjdk:8-jdk

commands:
  unit-and-integration-test:
    parameters:
      browser:
        type: string
        default: "chrome"
    steps:
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
      - run: mvn integration-test -Dselenide.browser= << parameters.browser >>

jobs:

  unit-and-integration-test-chrome:
    executor: test-executor

    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      - unit-and-integration-test:
          browser: "chrome"

  unit-and-integration-test-firefox:
    executor: test-executor

    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      - unit-and-integration-test:
          browser: "firefox"

  unit-and-integration-test-ie:
    executor: test-executor

    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      - unit-and-integration-test:
          browser: "ie"


  build-and-deploy:
    executor: maven-executor

    working_directory: ~/repo
    environment:
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run: echo $SECRING_GPG_ASC_BASE64 | base64 --decode | gpg --batch --no-tty --import --yes
      - run: echo $GPG_OWNERTRUST | base64 --decode | gpg --import-ownertrust

      - run: mvn -s .circleci/maven-release-settings.xml clean deploy -DskipTests -DskipITs

      - run: mvn -q -Dexec.executable=echo -Dexec.args='${project.version}' --non-recursive exec:exec >> ~/repo/version

      - persist_to_workspace:
          root: ~/repo
          paths:
            - target
            - version

  publish-github-release:
    executor: maven-executor

    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: "Publish Release on GitHub"
          command: |
            VERSION=$(cat ~/repo/version)
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ~/repo/target/com-antd-java-${VERSION}.jar

workflows:
  build-test-release:
    jobs:
      - unit-and-integration-test-chrome
      - unit-and-integration-test-firefox
      - unit-and-integration-test-ie
      - approve-release:
          type: approval
          requires:
            - unit-and-integration-test-chrome
            - unit-and-integration-test-firefox
            - unit-and-integration-test-ie
      - build-and-deploy:
          requires:
            - approve-release
      - publish-github-release:
          requires:
            - build-and-deploy


